/* Hero section */

body{
  margin: 0 0 0 0;
}


.container{
  background-image: url(/images/headphones_hero_1.jpg);
  background-size: cover;
}
.logo{
  width: 30%;
  margin-left: 5rem;
  margin-top: .8rem;
}

ol{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 list-style: none;
 color: white;
}

li:hover{
  color: orange;
  cursor: pointer;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
 .hero-section{
  padding-top: 8rem;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  color: white;
 }

.hero-btn{
 margin-top: 3rem;
margin-bottom:3rem;
padding: .8rem;
border-radius: 1rem;
color: white;
background-color: orange;
transition: background-color 0.3s ease;
}

.hero-btn:hover{
  cursor: pointer;
  background-color: #cccccc;
}


.hero-p-1{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero-p-2{
 padding-bottom: 4rem;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}

/* End of Hero section */

/* What we do section */